/* Global CSS */
* {
  box-sizing: border-box;
  border: 1px solid red !important;
}

body {
  font-family: "Open Sans", Arial, Helvetica;
  color: #2d3c49;
}

header {
  display:block;
  margin: 0 auto;
  height: 172px;
  text-align: center;
}

main {
  display:block;
  margin-top: 10px
}

/* header content styles */
.udacity-logo {
  height: 50px;
  width: 50px;
}

header h1, h3 {
  text-transform: uppercase;
}
/* Figure section */

.feature-image {
  max-height: 320px;
  max-width: 320px;
  margin: 0 auto;
}

.feature-image img {
  max-width: 100%;
}

/*Projects section*/
.projects {
  text-align: center;
}

article {
  max-width: 100%;
}

article img {
  max-width: 100%;
}
