/* Global CSS */
* {
  box-sizing: border-box;
  border: 1px solid red !important;
}

body {
  font-family: "Open Sans", Arial, Helvetica;
  color: #2d3c49;
}

header {
  display:block;
  margin: 0 auto;
  height: 138px;
  text-align: center;
}

main {
  display:block;
}

/* header content styles */
.udacity-logo {
  height: 50px;
  width: 50px;
}

header h1, h3 {
  text-transform: uppercase;
}
