/* Global CSS */
* {
  box-sizing: border-box;
  /*border: 1px solid red !important;*/
}

body {
  font-family: "Open Sans", Arial, Helvetica;
  color: #2d3c49;
}

header {
  padding-top: 20px;
  display:block;
  margin: 0 auto;
  height: 172px;
  text-align: center;
  border-bottom: 4px solid #7d97ad;
}

main {
  display:block;
  margin-top: 10px
}

/* header content styles */
.udacity-logo {
  height: 50px;
  width: 50px;
}

header h1, h3 {
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}
/* Figure section */

.feature-image {
  margin: 0 auto;
}

.feature-image img {
  max-width: 100%;
}

/*Projects section*/
.projects {
  text-align: center;
}

.projects h2:first-child {
  color: #7d97ad;
}

article {
  max-width: 100%;
}

article img {
  max-width: 250px;
}

article h2 {
  text-transform: uppercase;
  margin-bottom: 0px;
}

article a {
  font-size: .8em;
  text-decoration: none;
  color: #2d3c49;
}
